<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomProgressBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>IOSAnime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ImplictAnime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>QQPaoPaoAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SlideMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SpringAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>321531791EEFC24F0093C3C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3215319B1EF120050093C3C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>321531B91EF266A70093C3C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>329C85DF1ED4229100241708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>329C85F81ED4229100241708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>329C86031ED4229100241708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>329C86231ED7C37D00241708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>329C863B1ED7C37E00241708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>329C86461ED7C37E00241708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>329C865A1ED817FA00241708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>329C86721ED817FB00241708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>329C867D1ED817FB00241708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
